body{
    position: relative;
}
header, footer {
  background-color: var(--bg);
}

li, button, p, svg, i {
  color: var(--text);
}
.base-hr{
  color: var(--lightBorder);
  height: 1px;
  width: 100%;
}
.sticky-header {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--bg);
    border-radius: 28px;
    position: fixed;
    top: 25px;
    z-index: 999;
    padding: 10px 25px;
    width: auto;
    background-clip: padding-box;
}
h1, h2, h3, h4, h5, h6, p, li{
  color: var(--text);
}
h1{
    font-size: clamp(2.25rem, 0.2543rem + 4.1631vw, 5.25rem);
}
h2{
  font-size: clamp(1.875rem, 1.1266rem + 1.5611vw, 3rem);
}
h3{
  font-size: clamp(1.5rem, 1.0011rem + 1.0408vw, 2.25rem);
}
h4{
  font-size: clamp(1.375rem, 1.0424rem + 0.6938vw, 1.875rem);
}
h5{
  font-size: clamp(1.25rem, 1.0837rem + 0.3469vw, 1.5rem);
}
h6{
  font-size: clamp(1.125rem, 1.0418rem + 0.1735vw, 1.25rem);
}
p{
  font-size: clamp(1rem, 0.9168rem + 0.1735vw, 1.125rem);
}